body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #fff;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
}

.login-container h1 {
    margin-bottom: 5px;
    color: #3a6ea5;
}

.login-container h3 {
    margin-bottom: 25px;
    color: #666;
    font-weight: normal;
}

.form-group {
    text-align: left;
    margin-bottom: 18px;
}

label {
    font-size: 14px;
    color: #333;
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
}

input:focus {
    border-color: #3a6ea5;
    outline: none;
}

.btn-login {
    width: 50%;
    padding: 12px;
    border: none;
    background-color: #3a6ea5;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-login:hover {
    background-color: #345c88;
}

.error {
    color: red;
    margin-top: 10px;
}

.H{
     margin-bottom: 5px;
    color: #3a6ea5;
}

.btn-tlcad{
    width: 45%;
    padding: 10px;
    border: none;
    background-color: #3a6ea5;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.newUser{
    background: #fff;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
     text-align: center;
}

.dados{
    text-align: left;
    margin-bottom: 18px;
}